
.hidde-group{display: none;}
.container-title h1.page-title{
	padding-top: 0px!important;
}
header.header{
	padding-top: 5px;
}
.col-left{
	float:left;
	width:15%;
}
.col-right{
	float:left;
	width:85%;
	margin-left: 15%;
}
.navbar-fixed-top, .navbar-fixed-bottom{
	position: relative;
}

.nav-collapse li{
	/* display: block!important; */
	float:none!important;
}

body{
    padding-top: 0px!important;
}
.j-sidebar-container.j-sidebar-visible {
    left: 15%;
}
#j-main-container{
	padding-left:2.5%;
}
.subhead-fixed {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
}
.pro_price{
	width:120px;
	float: left;
	height: 20px;
}
.btn-price{
	float: left;
	margin-left: 4px;
	height: 24px;
}
.price-wrap{
	margin:auto;
}
.navbar-inverse .navbar-inner {
    background: #10223e;
    background-image: none;
    filter: none;
    height: 100%;
    overflow: scroll;
    position: fixed;
}
.container-main{
	min-height: 500px;
}
.name.break-word{
	word-break:break-word!important;
}
.level.break-word{
	word-break:break-word!important;
}

#system-message-container.j-toggle-main, #j-main-container.j-toggle-main, #system-debug.j-toggle-main {
    float: left;
		width: 100%;
}

#j-main-container {
	margin: 0px;
	padding: 0px;
}
.j-sidebar-container{
	display: none;
}

/* ipad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	.row-fluid [class*="span"]:first-child {
	    margin-left: 10px;
	    margin-right: 10px;
	}
}
